# DE ZoomCamp: Homework 1

To solve the Homework's Q1 and Q2 I've followed the course videos. To be able to answer the questions I had to:
1. Download and install Docker for Windows
2. Download WSL (Windows System for Linux) to run docker
3. Download and install Git for Windows
4. Download and install VSC for Windows

In [ ]:
# Q1:

# docker build -help

In [ ]:
# Q2:

# winpty docker run -it --entrypoint=bash python:3.9
# pip list

To solve the Homework's Q3-Q6 I've followed the course videos regarding setting up Posgres connection and creating db in Jupyter notebook as per the code below:

winpty docker run -it \
   -e POSTGRES_USER="root" \
   -e POSTGRES_PASSWORD="root" \
   -e POSTGRES_DB="ny_taxi" \
   -v /c:/Users/annar/zoomcamp_de/ny_taxi_postgres_data:/var/lib/postgresql/data \
   -p 5432:5432 \
   postgres:13
   
and then accessing the created db:
   
winpty pgcli -h localhost -p 5432 -u root -d ny_taxi

### Setting up tables

In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

The csv file is huge and may cause some performance issues, that is why I will iterate it and load to the postgres db in chunks

In [6]:
df_iter = pd.read_csv('green_tripdata_2019-01.csv.gz', iterator=True, chunksize=100000)

In [7]:
df = next(df_iter)

In [8]:
len(df)

100000

In [9]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [10]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace')

0

In [11]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge]
Index: []

In [12]:
%time df.to_sql(name='green_taxi_data', con=engine, if_exists='append')

CPU times: total: 5.33 s
Wall time: 10.8 s

1000

In [13]:
from time import time

In [14]:
while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
    df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
    df.to_sql(name='green_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk..., took %.3f second' % (t_end - t_start))

inserted another chunk..., took 11.693 second
inserted another chunk..., took 10.447 second
inserted another chunk..., took 11.332 second
inserted another chunk..., took 10.906 second
inserted another chunk..., took 11.344 second
inserted another chunk..., took 3.324 second

StopIteration:

Loading the zone lookup file

In [15]:
df_zone = pd.read_csv('taxi+_zone_lookup.csv')

In [16]:
df_zone

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [17]:
print(pd.io.sql.get_schema(df_zone, name='taxi_zone_lookup', con=engine))

CREATE TABLE taxi_zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)

In [18]:
df_zone.to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

265

### SQL code used to answer questions 3-6

In [20]:
# Q3:

# select count(*) from green_taxi_data 
# where date(lpep_pickup_datetime)= '2019-01-15' and date(lpep_dropoff_datetime) = '2019-01-15';

In [21]:
# Q4:

# select lpep_pickup_datetime from green_taxi_data
# where trip_distance = (select max(trip_distance) from green_taxi_data);

####   To be sure I've run also:

# select lpep_pickup_datetime from green_taxi_data
# order by trip_distance desc limit 1;

In [22]:
# Q5:

####   Here the answer matched taking only pick up date into consideration (unlike in Q3)

# select count(*) from green_taxi_data
# where passenger_count = 2 
# and date(lpep_pickup_datetime)= '2019-01-01';

# select count(*) from green_taxi_data
# where passenger_count = 3 
# and date(lpep_pickup_datetime)= '2019-01-01';

In [23]:
# Q6:

# select tz."Zone" from green_taxi_data gtd
# left join taxi_zone_lookup tz on gtd."DOLocationID" = tz."LocationID"
# left join taxi_zone_lookup tz2 on gtd."PULocationID" = tz2."LocationID"
# where tz2."Zone" like '%Astoria%' 
# order by gtd.tip_amount desc
# limit 1;